.hero {
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;

    @media screen and (min-width: 920px) {
        height: 400px;
    }

    .heroImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 -10rem;
    }
}
